<h1 mat-dialog-title>Create a new event!</h1>
<div mat-dialog-content>
  <mat-form-field style="display:contents;">
    <input matInput placeholder="Enter eventname" #name>
  </mat-form-field>
  <mat-form-field style="display:contents;">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" #date disabled>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field style="display:contents;">
    <input matInput #time type="time" placeholder="choose a time">
  </mat-form-field>
</div>
<mat-error *ngIf="errorOccurred">{{getErrorMessage()}}</mat-error>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="createEvent(name.value, date.value, time.value)">Create Event</button>
</div>
