<h1>Greenvironment</h1>
  <button id="tab-home" routerLink="">Home</button>
  <button id="tab-profile" routerLink={{profileUrl}} *ngIf="loggedIn">Profile</button>
  <button id="tab-rank" *ngIf="loggedIn">Rank</button>
  <button id="tab-about" routerLink="/about">About</button>
  <button id="tab-imprint" routerLink="/imprint">Imprint</button>
  <div id="dropdown" *ngIf="loggedIn">
    <div>
      <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
      <span> Niklas Lampe</span>
    </div>
    <div id="dropdown-content">
      Hallo
    </div>
  </div>
  <button id="logoutbutton" *ngIf="loggedIn"><span><i class="fa fa-sign-out-alt fa-2x" aria-hidden="true"></i></span></button>
