<h1>Greenvironment</h1>
  <button id="tab-home" routerLink="">Home</button>
  <button id="tab-profile" routerLink={{profileUrl}} *ngIf="loggedIn">Profile</button>
  <button id="tab-about" routerLink="/about">About</button>
  <button id="tab-imprint" routerLink="/imprint">Imprint</button>
  <button id="tab-login" routerLink="/login" *ngIf="loggedIn != true">Login</button>
  <div id="dropdown" *ngIf="loggedIn">
    <div>
      <span (click)="showDropdown()"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
      <span>{{username}}</span>
    </div>
    <div id="dropdown-content" *ngIf="dropdownShown">
      <div>
        <span>Rang:</span>
        <span>{{level}}</span>
      </div>
      <div>
        <span>Punkte:</span>
        <span>{{points}}</span>
      </div>
    </div>
  </div>
  <button id="logoutbutton" *ngIf="loggedIn" (click)="logout()"><span><i class="fa fa-sign-out-alt fa-2x" aria-hidden="true"></i></span></button>
