<mat-card class="card" *ngFor="let user of userList" [class.selected]="user === selectedUser" tabindex="0">
  <mat-card-header>
    <div mat-card-avatar>
      <img class="profile-picture" [src]="user.profilePicture"/>
    </div>
    <mat-card-title class="pointer" (click)="showUserProfile(user)">{{user.username}}</mat-card-title>
    <mat-card-subtitle class="pointer" (click)="showUserProfile(user)">{{user.handle}}</mat-card-subtitle>
    <div class="icon-box">
      <button mat-icon-button class="request-button" (click)="sendFriendRequest(user)"
              [disabled]="!user.allowedToSendRequest">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </mat-card-header>
</mat-card>
