@import '../../../styles/mixins.sass'
@import '../../../styles/vars.sass'

#chat
  display: grid
  grid-template: 7.5% 82.5% 10%/100%
  width: 100%
  height: 100%

#header
  @include gridPosition(1, 2, 1, 2)
  background-color: $cBoxHeaderBackground
  display: grid
  grid-template: 100% /20% 80%

  span
    color: $cFontWhite
  span.title
    @include gridPosition(1, 2, 2, 3)
    margin-top: 0.25em
    margin-left: 0.25em
    line-height: 100%
    font-size: 2em

  button
    background-color: $cBoxHeaderBackground
    border: none
  
  button:hover
    background-color: lighten($cBoxHeaderBackground, 10%)
    cursor: pointer

  button:active
    background-color: darken($cBoxHeaderBackground, 5%)
  
    #goback
      @include gridPosition(1, 2, 1, 2)

#chatheader
  @include gridPosition(1, 2, 1, 2)
  display: grid
  grid-template: 100% /10% 90%
  #goback
    @include gridPosition(1, 2, 1, 2)
  #name
    @include gridPosition(1, 2, 2, 3)

#messagecontainer
  @include gridPosition(2, 3, 1, 2)
  overflow: auto
.chatmessage
  width: 100%
  #ownmessage
    text-align: right
    margin: 0.5em
    span
      background-color: $cMessageOwn
      border: solid
      border-color: $cMessageOwn
      border-radius: 0.25em
  #foreignmessage
    text-align: left
    margin: 0.5em
    span
      background-color: $cMessageForeign
      border: solid
      border-color: $cMessageForeign
      border-radius: 0.25em


#newmessage
  @include gridPosition(3, 4, 1, 2)
  margin: 0.5em
  display: grid
  grid-template: 100% /80% 20%
  #input
    @include gridPosition(1, 2, 1, 2)
    border-radius: 0.25em
    border: 1px solid $cFeedInputBorder
    padding: 0.125em
    resize: none
  #send
    @include gridPosition(1, 2, 2, 3)
  button
    background-color: $cFeedChooserBackground
    color: $cFontWhite
    border: none
    border-radius: 0.5em
  button:hover
    background-color: lighten($cFeedChooserBackground, 10%)
    cursor: pointer