<div id="text0" style="text-align: center;">
  <h1>Greenvironment</h1>
  <p>Keep it clean and green!</p>
  <button mat-icon-button>
    <mat-icon class="white-icon">keyboard_arrow_down</mat-icon>
  </button>
</div>
<div id="text1" style="text-align: center;">
  <h1>What's Greenvironment?</h1>
  <p>We, the greenviroment team want to create a netwok for environmentalists who care for our nature and our planet as much as we do.</p>
</div>
<div id="text2" style="text-align: center;">
  <p>We believe, that together we can do amazing things to protect our environment and keep it clean and green.</p>
  <p>You aren't part of greenvironment yet? - join us now!</p>
  <a mat-raised-button class="link-button" routerLink="/register" >Register</a>
  <br>
  <a mat-raised-button class="link-button" routerLink="/login">Login</a>
</div>
