@import '../../../styles/mixins.sass'
@import '../../../styles/vars.sass'
@import '~@angular/material/theming'
@import '../../../styles/greenvironment-material-theme.scss'

#text0, #text2
  padding: 2em
  max-width: 100%
  min-height: 50%
  background-color: mat-color($primary)

#text1
  padding: 2em
  min-height: 50%
  max-width: 100%
    
.big-icon
  //color: white
  transform: scale(2)

.link-button
  width: 100%
  max-width: 30em
  margin-bottom: 1em
