<div id="registercontainer">
    <table style="width:100%">
        <tr>
          <td>username: </td>
          <td><input type="inputBox" name="username"><br></td>
        </tr>
        <tr>
          <td>email:</td>
          <td><input type="text" name="email"><br></td>
        </tr>
        <tr>
            <td>password:</td>
            <td> <input type="text" name="password"><br></td>
          </tr>
        <tr>
            <td>repeat password:</td>
            <td> <input type="text" name="repeatpassword"><br></td>
        </tr>
      </table>
  <button type="registerbutton">Register</button>
  <br>
  <a href="/login">You are already part of greenvironment? - login</a>
</div>