@import '../../../../styles/mixins.sass'
@import '../../../../styles/vars.sass'

$mat-card-header-size: 40px !default
.post
  box-sizing: border-box
  width: 100%
  margin-top: 0.5em
  outline: none
  user-select: none

  ::ng-deep .mat-card-header-text
    margin-top: 10px

  .mat-card-subtitle
    display: contents

  .mat-card-content
    overflow: auto
    margin: 0.5em 1em 0
    ::ng-deep a
      color: $primary-color
  .mat-card-actions
    padding: 0

  ::ng-deep p
    margin: 0

  .postlistUsername, a
    margin-right: 0.4em
    &:hover
      text-decoration: underline
      cursor: pointer

  .postlistUsername
    cursor: pointer

  .postVoteButtons
    display: inline-block

  #button-box
    text-align: right
    margin-left: auto

  ::ng-deep img
    max-width: 100%
    max-height: 60vh
    border-radius: 4px
    display: block
    margin-left: auto
    margin-right: auto
  ::ng-deep video
    width: 100%
    max-height: 40vh
    outline: none
    user-select: none
  ::ng-deep audio
    width: 100%
    max-height: 40vh
    outline: none
    user-select: none

  .mat-button
    min-width: 32px !important
    padding: 0
    margin: 0 0 0 8px

  .profile-picture
    border-radius: 50%
    width: $mat-card-header-size
    height: $mat-card-header-size
    cursor: pointer

  .activity-info
    display: contents

    .span
      margin-left: 32px

  .voteButton
    scale: 0.8
    transition-duration: 0.125s
    &.voted
     scale: 0.9

  .voteCount
    display: inline

  @media (max-width: 959px)
    .activity-info > .span
      margin-left: 1em
      display: block
      text-align: left
    .postVoteButtons
      text-align: end
      margin-right: 0.5em
      display: flex
      align-items: center
      .voteButton
        scale: 1
        &.voted
          scale: 1.1

    .mat-card-actions
      display: -webkit-box
      justify-content: end
      align-items: center


