<mat-card class="post" *ngFor="let post of childPostList" [class.selected]="post === selectedPost" tabindex="0">
  <mat-card-header>
    <div mat-card-avatar (click)="showUserProfile(this.post)">
      <img class="profile-picture" [src]="post.author.profilePicture" />
    </div>
    <div id="button-box">
      <button mat-icon-button [matMenuTriggerFor]="menu" id="menu-button" *ngIf="loggedIn">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngIf="post.deletable" mat-menu-item (click)="deletePost(post)">
          <span>delete post</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="reportMenu">report</button>
      </mat-menu>
      <mat-menu #reportMenu="matMenu">
        <button *ngFor="let reason of reportReasons" mat-menu-item [matTooltip]="reason.description"
          matTooltipShowDelay="200" (click)="reportPost(reason, post)">
          {{reason.name}}
        </button>
      </mat-menu>
    </div>
    <mat-card-title>
      <span class="postlistUsername" (click)="showUserProfile(this.post)">{{post.author.name}}</span>
      <a class="mat-card-subtitle" (click)="showUserProfile(this.post)">@{{post.author.handle}}</a>
      <p class="mat-card-subtitle">&nbsp; {{post.date}}</p>
    </mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-spinner *ngIf="post.mediaLoading && post.mediaType === 'IMAGE'" style="margin:0 auto; margin-top: 2em;"
      diameter="50"></mat-spinner>
    <div class="postMedia">
      <div [hidden]="post.mediaLoading">
        <img *ngIf="post.mediaType === 'IMAGE'" [src]="post.mediaUrl" (load)="onLoad(this.post)" alt="post image" />
      </div>
      <video *ngIf="post.mediaType === 'VIDEO'" controls>
        <source [src]="post.mediaUrl" type="video/webm">
      </video>
    </div>
    <p [innerHTML]="post.htmlContent"></p>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="post.activity" class="activity-info" fxHide.gt-sm="true">
      <span class="span" [matTooltip]="post.activity.description" matTooltipShowDelay="200">
        +{{post.activity.points}} points with <b>{{post.activity.name}}</b>
      </span>
    </div>
    <div class="postVoteButtons">
      <button mat-button (click)="voteUp(post)" matTooltip="vote up" matTooltipShowDelay="500">
        <mat-icon class="voteButton voted" aria-hidden="false" color="primary" *ngIf="post.userVote == 'UPVOTE'">
          thumb_up</mat-icon>
        <mat-icon class="voteButton" aria-hidden="false" *ngIf="!post.userVote || post.userVote == 'DOWNVOTE'">thumb_up
        </mat-icon>
      </button>
      <div class="voteCount">{{post.upvotes}}</div>
      <button mat-button (click)="voteDown(post)" matTooltip="vote down" matTooltipShowDelay="500">
        <mat-icon class="voteButton voted" aria-hidden="false" color="primary" *ngIf="post.userVote == 'DOWNVOTE'">
          thumb_down</mat-icon>
        <mat-icon class="voteButton" aria-hidden="false" *ngIf="!post.userVote || post.userVote == 'UPVOTE'">thumb_down
        </mat-icon>
      </button>
      <div class="voteCount">{{post.downvotes}}</div>
    </div>
    <div *ngIf="post.activity" class="activity-info" fxHide.lt-md="true">
      <span class="span" [matTooltip]="post.activity.description" matTooltipShowDelay="200">
        {{post.activity.points}} points earned with <b>{{post.activity.name}}</b>
      </span>
    </div>
  </mat-card-actions>
</mat-card>