<!--<div class="feeditem" *ngFor = "let post of childPostList" [class.selected]="post === selectedPost">
  <div class="itemhead">
    <div class="usertag">
      <span class="title">{{post.author.name}}</span>
      <span class="handle"><a href="profile/{{post.author.id}}">@{{post.author.handle}}</a></span>
    </div>
    <span class="date">{{post.date}}</span>
  </div>
  <div class="itembody">
    <div class='text'>
        <p [innerHTML]="post.htmlContent" id="content"></p>
    </div>
    <div class="vote">
      <button id="down" type='submit'><span><i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true" (click)="voteDown(post)"></i></span></button>
      <span id="downvotes">{{post.downvotes}}</span>
      <button id="up" type='submit'><span><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true" (click)="voteUp(post)"></i></span></button>
      <span id="upvotes">{{post.upvotes}}</span>
    </div>
  </div>
</div>-->

<mat-card class="post" *ngFor="let post of childPostList" [class.selected]="post === selectedPost" tabindex="0">
  <mat-card-header>
    <div mat-card-avatar>
      <img class="profile-picture" [src]="post.author.profilePicture"/>
    </div>
    <div id="button-box">
      <button mat-icon-button [matMenuTriggerFor]="menu" id="menu-button" *ngIf="post.deletable">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deletePost(post)">
          <span>delete post</span>
        </button>
      </mat-menu>
    </div>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>
      {{post.author.name}}
      <!--<a class="mat-card-subtitle" routerLink="/profile/{{post.author.id}}">@{{post.author.handle}}</a>-->
      <a class="mat-card-subtitle" (click)="showUserProfile(this.post)">@{{post.author.handle}}</a>
      <p class="mat-card-subtitle">&nbsp; {{post.date}}</p>
    </mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>
  <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p [innerHTML]="post.htmlContent"></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="voteUp(post)" matTooltip="vote up" matTooltipShowDelay="500">
      <mat-icon aria-hidden="false" color="primary" *ngIf="post.userVote == 'UPVOTE'">keyboard_arrow_up</mat-icon>
      <mat-icon aria-hidden="false" *ngIf="!post.userVote || post.userVote == 'DOWNVOTE'">keyboard_arrow_up</mat-icon>
    </button>
    {{post.upvotes}}
    <button mat-button (click)="voteDown(post)" matTooltip="vote down" matTooltipShowDelay="500">
      <mat-icon aria-hidden="false" color="primary" *ngIf="post.userVote == 'DOWNVOTE'">keyboard_arrow_down</mat-icon>
      <mat-icon aria-hidden="false" *ngIf="!post.userVote || post.userVote == 'UPVOTE'">keyboard_arrow_down</mat-icon>
    </button>
    {{post.downvotes}}
    <div *ngIf="post.activity" class="activity-info">
      <span class="span" [matTooltip]="post.activity.description" matTooltipShowDelay="200">
        {{post.activity.points}} points earned through <b>{{post.activity.name}}</b>
      </span>
    </div>
  </mat-card-actions>
</mat-card>

