@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-gvgreen: (
    50 : #e0f7e7,
    100 : #b3ebc3,
    200 : #80de9c,
    300 : #4dd174,
    400 : #26c756,
    500 : #00bd38,
    600 : #00b732,
    700 : #00ae2b,
    800 : #00a624,
    900 : #009817,
    A100 : #c3ffc9,
    A200 : #90ff9a,
    A400 : #5dff6b,
    A700 : #44ff54,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($mat-light-green);
$primary-color: mat-color($primary);
$accent:  mat-palette($mat-brown, A200, A100, A400);
// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$light-theme: mat-light-theme($primary, $accent, $warn);

// Set custom background color
$background-color: #e6e6e6;

$background: map-get($light-theme, background);
$background: map_merge($background, (background: $background-color));
$light-theme: map_merge($light-theme, (background: $background));



$dark-primary: mat-palette($mat-light-green);
$dark-accent:  mat-palette($mat-brown, A200, A100, A400);
$dark-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$dark-background-color: #121212;

$dark-background: map-get($dark-theme, background);
$dark-background: map_merge($dark-background, (background: $dark-background-color));
$dark-theme: map_merge($dark-theme, (background: $dark-background));

.dark-theme {
    @include angular-material-theme($dark-theme);
}

.light-theme {
    @include angular-material-theme($light-theme)
}
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($light-theme);