$cPrimaryBackground: #fff
$cSecondaryBackground: #ddd
$cInactiveText: #555
$cPrimarySurface: #fff

//Headerbar
$cHeadPrimaryBackground: #0d6b14
$cHeadFontColor: #243dca

//Home -- Feed
$cFeedPrimaryFontColor: #243dca
$cFeedSecondaryFontColor: #243dca
$cFeedInputBorder: #396d51
$cFeedItemBackground: #7fd4a7
$cFeedChooserBackground: #259145
$cFeedBackground: #0d6b14

//Home -- Chat, Friends, Groups
$cFontWhite: #243dca
$cBoxHeaderBackground: #259145
$cBoxBodyBackground: #3deb71


