@import '../styles/mixins.sass'
@import '../styles/vars.sass'

html, body
  margin: 0
  height: 100%

#imprint
  background-color:  $cSecondaryBackground
  grid-template: 15% 70% 15% / 15% 70% 15% 
  display: grid
  min-height: 100vh
  max-height: 100vh

#about
  background-color:  $cSecondaryBackground
  grid-template: 15% 70% 15% / 15% 70% 15% 
  display: grid
  min-height: 100vh
  max-height: 100vh



