@import '../styles/mixins.sass'
@import '../styles/vars.sass'

html, body
  margin: 0
  height: 100%


::ng-deep body
  scrollbar-color: #aaa #ddd
  scrollbar-width: thin
  .dark-theme
    scrollbar-color: #ddd #666

::ng-deep ::-webkit-scrollbar
  width: 4px

::ng-deep ::-webkit-scrollbar-track
  background: #ddd
  .dark-theme
    background: #666

::ng-deep ::-webkit-scrollbar-thumb
  background: #aaa
  .dark-theme
    background: #ddd
