@import '../../../styles/mixins.sass'
@import '../../../styles/vars.sass'

#postinput
  @include gridPosition(1, 2, 1, 2)
  margin: 0.5em
  display: grid
  grid-template: 100% /80% 10% 10%
  #input
    @include gridPosition(1, 2, 1, 2)
    border-radius: 0.25em
    border: 1px solid $cFeedInputBorder
    padding: 0.125em
    resize: none
  #attach
    @include gridPosition(1, 2, 2, 3)
  #submit
    @include gridPosition(1, 2, 3, 4)
    
#completeFeed
  @include gridPosition(2, 3, 1, 2)
  display: grid
  grid-template: 5% 95% /100%
  background-color: $cFeedBackground
  overflow: auto

  #feedchooser
    @include gridPosition(1, 2, 1, 2)
    display: grid
    grid-template: 100% /50% 50%
    background-color: $cFontWhite
    padding: 0
    margin: 0
    button
      background-color: $cFeedChooserBackground
      border: none
      font-size: 1.5em
      color: $cFontWhite
    button:hover
      background-color: lighten($cFeedChooserBackground, 10%)
      cursor: pointer
    #new
      @include gridPosition(1, 2, 1, 2)
    #mostliked
      @include gridPosition(1, 2, 2, 3)

  #feedlist
    @include gridPosition(2, 3, 1, 2)
    overflow: auto
    width: 100%
    height: 100%
    
    .feeditemPicture
      background-color: $cFeedItemBackground
      min-height: 2em
      margin: 0.5em
      padding: 0.25em
      border-radius: 0.25em
      .itemhead
        align-items: flex-start

        .title, .handle, .date
          margin: 0.125em
        .title
          font-weight: bold

        .handle, .date
          color: $cInactiveText
        .handle a
          text-decoration: none
          color: $cInactiveText
          font-style: normal
        .handle a:hover
          text-decoration: underline