<div id="home">
  <div [hidden]="!loggedIn">
    <mat-card >      
      <mat-card-content>
        <mat-form-field id="input">
          <textarea matInput #content type="text" [(ngModel)]="empty" mat-autosize="true" matAutosizeMaxRows="3" placeholder="post something"></textarea>
          <button mat-button matSuffix mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>
        <p id="check">
          <mat-checkbox color="primary" [(ngModel)]="checked">I protected the environment.</mat-checkbox>
        </p>
        <mat-form-field id="action-chooser" *ngIf="checked">
          <mat-label>What did you do?</mat-label>
          <mat-select [(ngModel)]="activityId" name="action">
            <mat-option>nothing ;)</mat-option>
            <mat-option *ngFor="let action of actionlist.Actions" [value]="action.id" [matTooltip]="action.description" matTooltipShowDelay="200">
              {{action.name}} 
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button *ngIf="empty" color="primary" id="post-button" (click)=createPost(content,activityId)>
          POST
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div [hidden]="loggedIn">
    <mat-card id="info">      
      <mat-card-header>
        <mat-card-title >
          You need to <a routerLink="/login" class="primary-color">login</a> to post something.
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>

<div id="chooser-div" style="text-align: center; margin-top: 1em;">
    <mat-button-toggle-group id="feedchooser" value="new">
    <mat-button-toggle (click)="showNew()" value="new">New</mat-button-toggle>
    <mat-button-toggle (click)="showMostLiked()" value="mostliked">Most Liked</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div id="complete-feed">
  <div id="feedlist">
    <feed-postlist [childPostList]="parentSelectedPostList"></feed-postlist>
    <mat-spinner *ngIf="loading" style="margin:0 auto; margin-top: 5em;" diameter="50"></mat-spinner>
  </div>
</div>
</div>