@import '../../../styles/mixins.sass'
@import '../../../styles/vars.sass'

#imprint
  background-color:  $cSecondaryBackground
  grid-template: 15% 70% 15% / 15% 70% 15% 
  display: grid
  height: 90vh
    
#imprintcontainer
    @include gridPosition(2, 2,2,2)
    background-color: $cPrimaryBackground
    padding: 1em
    
input
    margin: 0.25em
#header
    @include gridPosition(1, 2, 1, 2)
