
<div id="login">
  <div id="logincontainer">
    <table style="width:100%" (keyup.enter)="onClickSubmit(email.value,password.value)">
      <tr>
        <td>email: </td>
        <td><input #email type="text" name="email"><br></td>
      </tr>
      <tr>
          <td>password:</td>
          <td> <input #password type="password" name="password"><br></td>
        </tr>
    </table>
      <button type="loginbutton" (click)="onClickSubmit(email.value,password.value)">Login</button>
      <p *ngIf="errorOccurred">{{errorMessage}}</p>
      <br>
      <br>
    <a href="/register">You aren´t part of greenvironment yet? - join us here</a>
  </div>
</div>

