@import '../../../styles/mixins.sass'
@import '../../../styles/vars.sass'

#login
  background-color:  $cSecondaryBackground
  grid-template: 8% 77% 15% / 15% 70% 15% 
  display: grid
  height: 90vh

#logincontainer
  @include gridPosition(2, 2,2,2)
  background-color: $cPrimaryBackground
  padding: 1em
  overflow: auto

input
  margin: 0.25em

a
  color: $cHeadPrimaryBackground


