@import '../../../styles/mixins.sass'
@import '../../../styles/vars.sass'

#profile 
  padding: 2em
  max-width: 1200px
  margin: 0 auto

.mat-table
  width: 100%
  max-width: 690px
  margin: 0 auto
.mat-header-cell
  padding-right: 0.5em