<div id="search">
  <mat-toolbar>
    <mat-form-field id="input"
    floatLabel="never" >
      <input matInput #searchWord
      placeholder="search something"
      [ngModel]="searchWord.value"
      (ngModelChange)="search(searchWord.value)">
      <button mat-button matSuffix mat-icon-button>
        <mat-icon>search </mat-icon>
      </button>
    </mat-form-field>
    <!--<mat-form-field id="category-chooser">
      <mat-label>category</mat-label>
      <mat-select value="user" #field (selectionChange)="changeCategory($event.value)">
        <mat-option value="user">user</mat-option>
        <mat-option value="group" disabled>group</mat-option>
      </mat-select>
    </mat-form-field>-->
  </mat-toolbar>
      <div id="friendlist">
        <!--<div class="frienditem" *ngFor="let friend of friends"
        [class.selected]="friend === selectedFriend" (click)="showFriendProfile(friend)"> 
          <div class="picture">Pic</div>
          <div class="name"><span>{{friend.name}}</span></div>
        </div>-->
        <mat-card class="friend-card" *ngFor="let user of foundUsers" 
        [class.selected]="user === selectedUser" (click)="showUserProfile(user)"
        tabindex="0"
        matRipple>
          <mat-card-header>
            <div mat-card-avatar class="profile-picture"></div>
            <mat-card-title>{{user.username}}</mat-card-title>
            <mat-card-subtitle>{{user.handle}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
    </div>
</div>