<div id="file-upload-dialog">
  <h1 mat-dialog-title align="center">Upload a new group picture!</h1>
  <div class="uploadDialogContent" mat-dialog-content>
    <input style="display: none" id="input-file" type="file" accept="image/*" (change)="onFileInputChange($event)" #name>
    <label for="input-file" class="mat-button mat-raised-button mat-primary">Choose File</label>
    <div id="inputPreviewWrapper">
      <h2 *ngIf="localFileUrl">Preview:</h2>
      <img *ngIf="localFileUrl" id="inputPreview" [src]="localFileUrl"/>
    </div>
    <mat-progress-bar id="progress-bar" *ngIf="uploading" mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-error id="error" *ngIf="errorOccurred">{{getErrorMessage()}}</mat-error>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClicked()">Cancel</button>
    <button class="confirmationButton" mat-raised-button cdkFocusInitial (click)="onOkClicked()">Upload</button>
  </div>
</div>
