@import '../../../../styles/mixins.sass'
@import '../../../../styles/vars.sass'
@import '../social.component.sass'

#grouplist
  padding: 0.5em

.group-card
  box-sizing: border-box
  width: 100%
  margin-top: 0.5em
  .mat-card-subtitle
    margin: 0

.group-picture
  background-image: url(https://material.angular.io/assets/img/examples/shiba1.jpg)
  background-size: cover

#button-box
  text-align: right
  width: 100%