.mat-sidenav-container
  height: 100vh

.sidenav
  width: 200px

.menu-bar
  position: inherit !important
.mat-card-avatar
  display: contents
.profile-picture
  width: 52px
  height: 52px
  border-radius: 50%
  flex-shrink: 0
.hello-text-box
  margin-left: 8px
  .hello-text
    white-space: normal
    font-size: initial

.link
  user-select: none
  cursor: pointer
  outline: none


.sidenav .mat-toolbar
  //background: inherit

.mat-toolbar
  height: 56px
  position: fixed
  //position: sticky
  top: 0
  z-index: 999
  .mat-tab-nav-bar
    height: 56px
  .mat-tab-links
    height: 56px
  .mat-tab-link
    height: 56px


.mat-sidenav-content
  padding-top: 56px

#link-box
  padding: 0.5em

.link-button
  width: 100%
  margin-bottom: 0.5em

::ng-deep .mat-tab-link
  min-width: 5em!important

#menu-button-box
  text-align: right
  width: 100%

