<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      fxShow="true" fxHide.gt-sm="true"
      fixedInViewport="false"
     >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  *ngFor="let link of navLinks" 
      href={{link.path}}>{{link.label}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        fxShow="true" fxHide.gt-sm="true">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Greenvironment</span>
        <!--The following menu items will be hidden on both SM and XS screen sizes -->
       <nav mat-tab-nav-bar backgroundColor="primary" fxShow="true" fxHide.lt-md="true">
          <a mat-tab-link 
              *ngFor="let link of navLinks"
              [routerLink]="link.path"
              (click)="activeLink = link"
              routerLinkActive #rla="routerLinkActive"
              [active]="activeLink == link">
              {{link.label}}
          </a>
       </nav>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
