.sidenav-container 
  height: 100%

.mat-sidenav-container 
  height: 100%

.mat-sidenav-content 
  height: 100vh

.sidenav 
  width: 200px

.sidenav .mat-toolbar
  background: inherit

.mat-toolbar.mat-primary
  height: 56px
  position: sticky
  top: 0
  z-index: 1000
  .mat-tab-nav-bar
    width: 70%
    height: 56px
  .mat-tab-links
    height: 56px
  .mat-tab-link
    height: 56px

#link-box
  padding: 0.5em

.link-button
  width: 100%
  margin-bottom: 0.5em 

/deep/ .mat-tab-link
  min-width: 5em!important

#login-button
  
#menu-button-box
  text-align: right
  width: 100%




