.mat-sidenav-container 
  height: 100vh

.sidenav 
  width: 200px

.sidenav .mat-toolbar
  //background: inherit

.mat-toolbar.mat-primary
  height: 56px
  position: fixed
  //position: sticky
  top: 0
  z-index: 999
  .mat-tab-nav-bar
    height: 56px
  .mat-tab-links
    height: 56px
  .mat-tab-link
    height: 56px

.mat-sidenav-content
  padding-top: 56px

#link-box
  padding: 0.5em

.link-button
  width: 100%
  margin-bottom: 0.5em 

/deep/ .mat-tab-link
  min-width: 5em!important
  
#menu-button-box
  text-align: right
  width: 100%

